[user]
	name = {{GIT_USER_NAME}}
	email = {{GIT_USER_EMAIL}}
[color]
	ui = true
	diff = true
[core]
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore
	precomposeunicode = true
[merge]
	ff = false
[pull]
	ff = only
[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line
